<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}chatwebapp{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for("static", filename="css/styles.css")}}" />
        <link rel="icon" href="{{ url_for('static', filename='images/logo2.jpg') }}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="{{ url_for('auth.home') }}">
                    <img src="{{ url_for('static', filename='images/logo2.jpg') }}" alt="Logo" width="40" height="40" class="d-inline-block align-top">
                </a>
                <a class="navbar-brand" href="{{ url_for('auth.home') }}">chatwebapp</a>
            {% else %}
                <a class="navbar-brand" href="{{ url_for('auth.index') }}">
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" width="40" height="40" class="d-inline-block align-top">
                </a>
                <a class="navbar-brand" href="{{ url_for('index') }}">chatwebapp</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.view_users') }}">Find Friends</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.chat') }}">Chat</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.edit_profile') }}">Edit Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        <form class="search-bar" action="{{ url_for('auth.search') }}" method="GET">
                            <input type="text" name="username" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="page-container">
            {% block body %}
            {% endblock %}
        </div>
        <footer>
            <p>chatwebapp &copy; 2024. All rights reserved.</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    </body>
</html>