{% extends "base.html" %}

{% block head %}
    <title>View Users</title>
{% endblock %}

{% block body %}
<div class="page-container">
    <h2>Users List</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="go-back-home">
        <a class="button" href="{{ url_for('auth.home') }}">Back to Home</a>
    </div>
</div>
{% endblock %}